.online {
  background-color: greenyellow;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.offline {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.avatar {
  margin: 0 40px 0 20px;
}

.name {
  font-weight: 700;
}
